<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Storage permission for Android 12 and below -->
    <uses-permission 
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:label="imagene"
        android:theme="@android:style/Theme.Material.Light">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ModelMissingActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />

    </application>

</manifest>
